body {
  font-family: Arial, serif;
  margin: 0;
  padding: 0;
  background-color: rgb(245, 226, 245);
  color: black;
}

header.site-header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: start;
  background-color: white;
  color: magenta;
  padding: 1em;
}

.logo-container {
  grid-column: 1 / 2;
  justify-self: start;
  align-self: center;
  display: flex;
}

.logo-image {
  width: 100%;
  max-width: 9.375rem;
  height: auto;
}

nav.site-navigation {
  grid-column: 2 / 3;
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  gap: 2vw;
  align-items: end;
}

nav ul {
  display: grid;
  grid-auto-flow: column;
  gap: 2vw;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-items: center;
  padding: 1em;
}

nav ul li a {
  color: magenta;
  text-decoration: none;
  font-weight: bold;
  padding: 1vw 1vw;
  align-self: center;
}

nav ul li a:hover {
  background-color: rgb(250, 117, 250);
  color: white;
  border-radius: 5px;
  transition: color 0.3s ease;
}

nav ul li a:active {
  opacity: 0.7;
  transition: color 0.3s ease;
}

main {
  display: grid;
  grid-auto-flow: row;
  row-gap: 1.25rem;
  max-width: 75rem;
  margin: 1.25rem auto;
  padding: 1.25rem;
}

#main-content-index,
#main-content-about,
#main-content-contact,
#main-content-tasks,
#main-content-muse {
  max-width: 75rem;
  margin: 1.25rem auto;
  padding: 1.25rem;
  border-radius: 0.125rem;
}

img {
  max-width: 100%;
  height: auto;
  align-self: center;
  border-radius: 0.625rem;
}

#home-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: auto;
}

#home-image {
  width: 100%;
  max-width: 25vw;
  height: auto;
  align-self: center;
}

.left-column,
.right-column {
  align-self: center;
}

.left-column {
  padding: 1rem;
}

.right-column {
  padding: 1rem;
}

#home-title {
  align-self: center;
}

.left-column,
.right-column {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  padding: 0 1.25rem;
}

.left-column {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  align-items: end;
  padding-right: 1.25rem;
}

.right-column {
  padding-left: 1.25rem;
}

#about-image {
  width: 100%;
  max-width: 25vw;
  height: auto;
  align-self: center;
  margin: 1rem;
}

#about-section {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  align-content: start;
}

.top-row {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}

.bottom-row {
  display: grid;
  width: 100%;
  padding: 0.625rem;
  text-align: start;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  align-items: start;
}

.bottom-row h3,
.bottom-row h4,
.bottom-row p {
  max-width: 40rem;
  margin: 0 auto;
  text-align: left;
}

.column {
  padding: 1em;
  text-align: left;
}

.left-column-about,
.right-column-about,
.bottom-row {
  padding: 1em;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  margin: 0.625rem;
  padding: 1.25rem;
  overflow: hidden;
}

#contact-container.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.9375rem;
  background-color: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  margin-top: 1.25rem;
}

.flex-container {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.25rem;
  align-items: stretch;
}

#contact-image {
  max-width: 100%;
  height: auto;
  align-self: center;
  transform: translateY(-10%);
}

#contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 1fr));
  line-height: 1.5;
}

#contact-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
  gap: 0.625rem;
  justify-content: space-between;
}

#contact-form {
  display: grid;
  grid-template-rows: auto;
  row-gap: 0.625rem;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
}

#contact-details p,
#contact-form input,
#contact-form textarea,
#contact-form label {
  margin: 0.625rem 0;
  overflow: hidden;
}

input[type="submit"] {
  cursor: pointer;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.625rem;
  border: none;
  border-radius: 0.3125rem;
  background-color: rgb(250, 117, 250);
  color: white;
  font-weight: bold;
  overflow: hidden;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: rgb(250, 117, 250);
  color: black;
  border-radius: 0.3125rem;
  opacity: 0.7;
}

section h1,
section h2,
section h3,
section h4 {
  font-size: 2em;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.25rem;
  padding: 1.25rem 0;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  border-radius: 0.625rem;
}

.carousel-slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 37.5rem;
  max-width: 100%;
  background-color: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  margin: 0 0.625rem;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: auto;
  border-radius: 0.3125rem;
  margin-bottom: auto;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

.carousel-text {
  width: 100%;
  height: auto;
  padding: 0 0.625rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  background-color: rgb(249, 247, 248);
  margin-right: 2rem;
  overflow: hidden;
  text-align: left;
}

.carousel-container {
  display: grid;

  gap: 1rem;
}

.carousel-text h2,
.carousel-text p {
  margin: 0.3125rem 0;
}

.carousel-text h2 {
  margin-bottom: 0.625rem;
}

.carousel-text p {
  font-size: 0.9em;
}
.carousel-controls {
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
  gap: 0.7rem;
  width: fit-content;
}

footer.site-footer {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-content: center;
  background-color: black;
  color: magenta;
  padding: 1rem 0;
  font-size: 1rem;
  width: 100%;
}

.social-media-links {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: end;
  grid-gap: 3.125rem;
}

.social-icon {
  width: 1.875rem;
  height: 1.875rem;
}

#muse-section {
  padding: 1.25rem;
  background-color: #fafafa;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
}

#muse-title {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 1.25rem;
}

@media (max-width: 480px) {
  header.site-header {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    display: grid;
  }

  .logo-container {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
  }

  .logo-image {
    max-width: 43%;
    padding-bottom: 1em;
  }

  nav.site-navigation {
    grid-column: 1;
    grid-row: 2;
    justify-self: stretch;
  }

  nav ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    padding: 0;
  }

  nav ul li a {
    padding: 0.5em;
  }
  nav.site-navigation {
    display: grid;
    justify-content: end;
    grid-auto-flow: row;
  }

  #main-content-index,
  #main-content-about,
  #main-content-contact,
  #main-content-tasks,
  #main-content-muse {
    max-width: 100%;
    margin: 1rem;
    padding: 1rem;
  }

  #home-section {
    grid-template-columns: 1fr;
  }
  #image-and-text,
  .carousel-slide {
    display: grid;
    grid-auto-flow: row;
  }
  .left-column,
  .right-column {
    align-self: start;
    padding: 1rem;
  }
  #home-image {
    max-width: 100%;
  }
  #about-image {
    max-width: 89%;
    align-self: start;
    margin-top: 3rem;
  }

  #about-section,
  .top-row,
  .bottom-row,
  .card {
    grid-template-columns: 1fr;
  }
  .top-row {
    width: fit-content;
  }

  .bottom-row h3,
  .bottom-row h4,
  .bottom-row p,
  .column,
  .left-column-about,
  .right-column-about {
    text-align: left;
    padding: 0.4rem;
    max-width: none;
    align-self: start;
    overflow: hidden;
  }
  .left-column-about {
    grid-column: 1 / -1;
    padding: 1em;
    text-align: left;
  }

  .left-column-about h4,
  .left-column-about p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .social-media-links {
    display: grid;
    justify-content: end;
    padding: 0.2rem;
  }

  #contact-container.card,
  #contact-container,
  #contact-details,
  #contact-form {
    grid-template-columns: 1fr;
  }

  #contact-title {
    order: -3;
  }

  #contact-section {
    display: grid;
    grid-auto-flow: row;
  }

  #contact-image {
    justify-self: center;
    width: auto;

    margin-top: 10px;
    max-width: 100%;
    order: -2;
  }

  .card {
    padding: 10px;
  }

  .flex-container {
    grid-auto-flow: row;
    grid-gap: 0.625rem;
  }

  #contact-container.card {
    padding: 15px;
    order: -1;
  }

  #contact-details {
    display: grid;
    grid-auto-flow: row;
    justify-items: start;
  }

  .carousel {
    grid-gap: 0.625rem;
    padding: 1rem 0;
    overflow-x: auto;
  }

  .carousel-slide {
    grid-template-columns: 1fr;
    width: 80vw;
    padding: 1rem;
    box-sizing: border-box;
  }

  .carousel-image,
  .carousel-text {
    width: 100%;
    padding: 0.5rem;
    margin-right: 0;
  }

  .carousel-controls {
    justify-content: center;
    width: 100%;
    padding: 0.5rem 0;
  }

  .carousel-text h2,
  .carousel-text p {
    font-size: smaller;
  }

  .carousel-container {
    max-width: 100%;
  }
}
